/* AnythingSlider IE7 and older stylesheet - included !important flag in case the theme is loaded after page load */

div.anythingSlider .arrow {
	margin: 0 !important;
}

/* When using the navigationSize option, the side margins need to be zero
   None of the navigation panels look good in IE7 now =( */
div.anythingSlider .anythingControls {
	margin: 0 0 0 30px;
}
}div.anythingSlider .anythingControls ul.thumbNav a {
	margin: 0 0 0 2px;
}
div.anythingSlider .anythingControls .anythingNavWindow li {
	padding: 3px 0 0 0;
}
div.anythingSlider-cs-portfolio .anythingControls .anythingNavWindow {
	margin: 18px 0 0 0;
}

div.anythingSlider .anythingControls {
	display: block;
	width: 95% !important; /* arbitrary percentage, adjust to fit your slider in IE7 */
	margin: 0;
}
div.anythingSlider-default2 .anythingControls,
div.anythingSlider-office .anythingControls,
div.anythingSlider-polished .anythingControls,
div.anythingSlider-ribbon .anythingControls {
	width: 90% !important;
	margin-left: 0;
}
div.anythingSlider-shiny .anythingControls {
	width: 85% !important;
}

/* wrappers */
/*************
  Carbon fiber image
 *************/
#wrapper.carbonfiber {
	border: rgb(22,22,22) 2px solid;
	background-image: url(../images/bkgd-carbon-fiber.gif);
}

/*************
 Leather image
 *************/
#wrapper.leather {
	background-color: rgb(117, 117, 117);
	background-image: url(../images/bkgd-leather.jpg);
}


/*************
 Light Wood image
 *************/
#wrapper.light-wood {
	background-image: url(../images/bkgd-wood2.jpg);
}

/*************
 Noise overlay
 *************/
#wrapper.noise {
	border: rgb(128,128,128) 1px solid;
}